* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-tittles: 'Staatliches', cursive;
    --ff-texting: 'Palanquin', sans-serif; 
    
    --fc-texting: #4A4E69;
    --fc-tittle: #FFFFFF;
    --bc-main: #EFF1FF;
    --bc-header: #8E9AAF;
    --bc-tittle: #CBC0D3;
    --bc_cards_tittle: #FEEAFA;
}

body {
    background: var(--bc-main);
    margin-bottom: 6rem;
    min-height: 38.4rem;
}

header {
    width: 100%;
    height: 27.9rem;   

    background: var(--bc-header);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 15rem;
    margin: 3.2rem;
}

#tittle {    
    height: 5.5rem;    
    width: 100%;    
    
    background-color: var(--bc-tittle);
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    display: inline-flex;
    font-family: var(--ff-tittles);
    font-weight: 400;
    font-size: 4.5rem;
    letter-spacing: 0.3rem;
    line-height: 3.4rem;
    color: var(--fc-tittle);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);   
}

h2 {
    font-family: var(--ff-tittles);
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 0.05rem;
    color: var(--fc-tittles);
}

#text {
    margin: 3rem auto;
    padding: 0 1rem;
}

p {
    font-family: var(--ff-texting); 
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 100%;
    text-align: left;
    color: var(--fc-texting);
}

@keyframes down-top {
    0% {
        opacity: 0;
        transform: translateY(2.5rem);
    }

    100% {
        opacity: 1;  
        transform: translateY(0)      
    }
}

@keyframes top-down {
    0% {
        opacity: 0;
        transform: translateY(-8rem);
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
        transform: translateY(0)          
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.2rem;
    max-width: 32rem;
    margin: auto;     
}

.card-a, .card-b {    
    position: relative;

    animation-name: down-top;
    animation-duration: 800ms;    
    animation-timing-function: ease-out;
}

.card-a img {
    width: 32rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 20px;    
}

.card-b img {
    width: 32rem;
    height: 45rem;
    object-fit: cover;
    border-radius: 20px;
}

.card-a h2, .card-b h2 {   
    display: inline-flex;
    
    position: absolute;
    justify-content: center;
    align-items: center;
        
    width: 11.2rem;
    height: 3.5rem;
    top: 1.6rem;
    right: 1.6rem;
    
    background-color: var(--bc_cards_tittle);
    
    border-radius: 20px;

    animation-name: top-down;    
    animation-duration: 800ms;    
    animation-timing-function: ease-out;
}
